<!doctype html>
<html lang="en">
  {% extends "home/base.html" %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
  
  <main>
    <section class="section-1">
        <br>
      <div class = "container text-center">

        <h1 class="text-center">
            Daftar Kegiatan
        </h1>
          <div class="row">

            {% for i in data_kegiatan %}
              <div class="card" style="width: 50%;">
                  <div class="card-body">
                    
                    <h5 class="card-title mb-3">{{i.0.nama_kegiatan}}</h5>
                    <p class="card-text">
                        {% for a in i.1 %}
                        <div>{{a.nama_peserta}}</div>
                        {% endfor %}
                        </p>
                        
                        
                </div>
          </div>
          {% endfor %}
          
        </div>
        <br>
        <div class="text-center">
          <a class="btn btn-sm btn-info" href="{% url 'templates:tambahkegiatan' %}">Tambah Kegiatan</a>
          
          <a class="btn btn-sm btn-info" href="{% url 'templates:tambahpeserta' %}">Tambah Peserta</a>
        </div>
        
        <br><br><br><br><br><br>
    </div>
</div>
    
  </main>
{% endblock %}
