{% extends "home/base.html" %}
  {% load static %}
  
  {% block content %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
<form action="" method="post">
    {% csrf_token %}
    <br><br><br><br><br>
    <table class="table">
      {% csrf_token %}
      <thead class="thead-dark">
        <tr>
          <th scope="row">Keterangan</th>
          <th scope="row">Nama Peserta</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          {{form}}
        </tr>
        <tr>
      </table>
<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Tambah">
<a class="btn btn-lg btn-block btn-danger" href="/kegiatan">Batal</a>
</form>
{% endblock %}